<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSStatusItem VisibleCC Item-0</key>
	<false/>
	<key>appearanceSize</key>
	<string>1</string>
	<key>appearanceStyle</key>
	<string>0</string>
	<key>appearanceStyleOverride</key>
	<string>0</string>
	<key>appearanceTheme</key>
	<string>2</string>
	<key>hideColoredCircles</key>
	<string>false</string>
	<key>hideSpaceNumberLabels</key>
	<string>false</string>
	<key>hideStatusIcons</key>
	<string>false</string>
	<key>holdShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGlCwwZGhtV
		JG51bGzWDQ4PEBESExQVFBcUXW1vZGlmaWVyRmxhZ3NfEBtjaGFyYWN0ZXJz
		SWdub3JpbmdNb2RpZmllcnNWJGNsYXNzWmNoYXJhY3RlcnNXa2V5Q29kZVd2
		ZXJzaW9ugAOAAIAEgACAAoAAEf//EgAQAADSHB0eH1okY2xhc3NuYW1lWCRj
		bGFzc2VzWlNSU2hvcnRjdXSiHiBYTlNPYmplY3QIERokKTI3SUxRU1lfbHqY
		n6qyury+wMLExsnO097n8vUAAAAAAAABAQAAAAAAAAAhAAAAAAAAAAAAAAAA
		AAAA/g==
		</data>
		<key>string</key>
		<string>⌘</string>
	</dict>
	<key>menubarIcon</key>
	<string>4</string>
	<key>menubarIconShown</key>
	<string>false</string>
	<key>onboardingShortcutUsed</key>
	<string>true</string>
	<key>preferencesVersion</key>
	<string>11.9.0</string>
	<key>previewFocusedWindow</key>
	<string>true</string>
	<key>settingsWindowShownOnFirstLaunch</key>
	<string>true</string>
	<key>shortcutCount</key>
	<string>1</string>
	<key>shortcutStyle</key>
	<string>1</string>
	<key>shortcutStyleOverride</key>
	<string>0</string>
	<key>showOnScreen</key>
	<string>0</string>
	<key>showTabsAsWindows</key>
	<string>0</string>
	<key>showTitles</key>
	<string>0</string>
	<key>titleTruncation</key>
	<string>2</string>
	<key>updatePolicy</key>
	<string>1</string>
</dict>
</plist>
